/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/06/2017, 17:57:08
    Author     : daniel
*/
/*
body p{
    font-family: 'Roboto Slab', serif;
    
}
*/
.vista-previa {
    margen-left:5px;
    padding: 5px;
    float: left;
}
.imagen-imagen  {
    margen-left:5px;
    padding: 5px;
    float: left;
}
.imagenes_subir{
    top:10px;

}
#imagenescuadro{
    margin-bottom: 55px;
}
.listaprovincial{
    float: left;border-radius: 10px 10px 10px 10px; 
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #107016; 
    margin-bottom: 3px; margin-right: 13px; 

    width: 220px; 
    padding: 5px;
    min-height: 75px;
}
.honorarios{
    width: 95%;
    min-height: 500px;
}
.Precios_jus{

    width: 100%;
    text-align:  center;
    color: #ffffff;
    background-image: url("imagenes/front-end/pattern1.png");
    padding: 15px;
    overflow: hidden;
    padding: 3px;
    margin-bottom: 15px;
}
.Precios_jus h4{
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: bold;
    list-style:  none;
    color:  #002A80;    

}
.jus{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color:  #002A80;
    line-height: 1.5;
    font-weight: bold;
    list-style:  none;
}
.jus.resolucion{
    font-size: 12px;
}



.resoluciones ul{
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    line-height: 1.5;
    list-style:  none;
}
.declaraciones{
    text-align:  center;
}
.borrarimagen{
    position:absolute;
    z-index:2;
    /*left: 20px;*/
    background-color:#FFFFFF;
    width:16px;
    height:16px;
    left:230px;
    top:5px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;

}
.avatar{
    display: block;
    width: 350px;
    height: 250px;
    padding: 5px;
    margin: auto;
}
.mail{

    background-color:  #f2dede;
    width: 50%;
}
.banner{
    display: block;
    margin-bottom: 5px;
}
.botones{

    padding-top: 10px;
    padding-left:65%;
    margin-bottom:  15px;

}
.Imagenes_pie{
    margin-top: 5px;
    margin-bottom: 5px;

    padding: 5px;
}
.aaside {

    height: 760px;
}
aside  h3{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    background-color:  #0fad21; 
    color:  antiquewhite;
}
aside h4{
    font-family: ',Open Sans Condensed', sans-serif;
    font-size: 18px;
    /*    background-color:  #3eae6b; */
    border-bottom:  #107016 solid 1px;
}
aside h5{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    text-decoration: underline;
    letter-spacing: 0.4px;
    word-spacing: 3px;
letter-spacing: 0.4px;
    font-weight:600;
    
}

.titulo {
    font-family: 'Cinzel', serif;
    font-style:  oblique;
    font-size: 30px;
    width: 50%;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
}


.noticias{
    padding-bottom: 2px;
    border-bottom: 1px #3eae6b solid;
}
.noticias .efemerides p{
    font-family: 'Merriweather', serif;
    font-size: 12px;
}
.efemerides{
    padding-bottom: 2px;
    border-bottom: 1px #3eae6b solid;
}
.efemerides h3{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    background-color: #0fad21   ; 
}

.resoluciones {
    font-family: 'Merriweather', serif;

    font-size: 12px;

}
.resoluciones a{
    color:  aliceblue;
}
.menu_resoluciones{
    border-top:  #009900 solid 1px;
    display:  block;
    height: 350px;

}
.menu_resoluciones h4{
    /*    font-family: 'Open Sans Condensed', sans-serif;
        font-size: 20px;
        text-align: center;
        font-weight: bold;*/

}
.menu_resoluciones p{
    /*    font-family: 'Open Sans Condensed', sans-serif;
        font-size: 15px;*/
}

.index{
    display: block;
    width:100%;
    margin-left:5px;
    /*background-color:  #b9e0b9;*/
    margin-bottom: 10px;

}

.index h4{
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 18px;


}
footer {

    background-image: url("imagenes/front-end/pattern1.png");
    clear:   both;

}

body{
    margin-top: 60px;
}
.navbar-header{
    background-image: url("imagenes/front-end/pattern1.png");

}
nav a{
    font-family: 'Roboto Slab', serif;
    font-size: 12px; 
}
nav a hover{
    background-color:   #b9e0b9; 
}
#collapse{
    background-image: url("imagenes/front-end/pattern1.png");
}
#collapse ul a{
    background-color:   #b9e0b9;
}
.autoridades {
    display: block;

}
.autoridades ul li{
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    list-style: none;
}

.autoridades h3{
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    background-color:#bccee1 ;


}
.autoridadesdiv{
    display: block;
    width: 800px;
    border: 1px;
    background-color:#bccee1 ;


}
.comision_grupo{
    display: block;



}
.comision_grupo ul{
    height: 100px
}
.autoridades h4{
    font-family: 'Roboto Slab', serif;

    font-size: 18px;
    border-bottom:   1px solid #313030;


}
.autoridades h5{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    /*border-bottom:   1px solid #313030;*/
}

.webmaster{
    background-color:   #9df19d ; 
}
.logojovenes {
    height: 150px;
    width: 200px;
    float:left;
    display: block;
}
.jovenesencabezado{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    display: block;
    padding: 5px;
    height: 200px;

}
.jovenesencabezado p {

    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.5;

}
.barrasuperior{
    /*margin-top: 25px;*/
    font-family: 'Roboto Slab', serif;
    font-size: 120%;
    text-align:  center;
    /*width: 85%;*/

    background-image: url("imagenes/front-end/pattern1.png");
    padding: 5px;   
    margin: auto;
    display: block;
}

.container{
    margin-top: 2px;
}
.noticiasinformacion{
    font-family: 'Roboto Slab', serif;
    font-size: 11px;

    list-style-type: none;
    text-align: justify;
}
.docuinformacion{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12px;
    font-weight:  bold;
    list-style-type: none;
    text-align: left;
}

.TarjertaEventos{
    box-shadow:5px 5px 5px rgba(0,0,0,.3);
    padding: 16px;
    display: block;
    min-height:280px;
    margin-right: 10px;
    margin-left: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    border:#009933 solid 1px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10pheight 450px;

}
.TarjertaEventos h3{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-bottom:   #0fad21 solid 1px;


}
.TarjertaEventos img{
    padding: 16px;

}
.imageneventosindex p{
    display: block;
    text-align: justify;
    font-family: 'Roboto Slab', serif;
    font-size:14px;
    min-height:250px;
    width: 95%;
    line-height: 1.8;
    padding-left: 20px;
    text-justify:  auto;



}

.delegacion{
    height: 300px;
    padding: 15px;
    text-align:  justify;
    font-family: 'Roboto Slab', serif;
}
.delegacion ul{
    list-style-type: none;
    display: block;
    width: 450px;
    float: right;
    padding: 55px;
    text-align:  left;
    font-family: 'Roboto Slab', serif;
    font-size:16px;
}

#map-formosa{
    width: 550px;
    height: 250px;
    padding: 5px;;
    display: block;
    border:  #000000 1px;
    border-style: solid;
    float: left;
}    
#map-clorinda{
    width: 550px;
    height: 250px;
    padding: 5px;;
    display: block;
    border:  #000000 1px;
    border-style: solid;
    float: left;
} 
#map-lomitas{
    width: 550px;
    height: 250px;
    padding: 5px;;
    display: block;
    border:  #000000 1px;
    border-style: solid;
    float: left;
}    
.menu_pie {
    color:  #000000;
    font-size:  14px; 
    font-family: 'Roboto Slab', serif;
    list-style:  none;
    line-height:  1.8;

}
.menu_pie a{
    color:  #000000;
}
.line-separator{
    /*height: 1px;*/
    /*background:  #000000;*/
    border-bottom:   1px solid #313030;
}
.container{
    padding-bottom: 10px; 
}
.sidenav01{
    /*width: 25%;*/
}
.menu_despachos{
    padding-left:  10px;
    float: left;
    width: 20%;
}
.marco_despachos{
    margin-top: 20px;
    margin-left: 5px;
    border:  #009900 1px;
    border-style: solid;
}
.Federal{
    font-family: 'Roboto Slab', serif;
    font-size:15px;  
}
imagenes{
    background-color:  #9df19d;
}
.imagen{
    float: left;
}
.etiqueta-profesional{
    padding: 5px;
    border: 1px  #ffffff solid;
    width: 25%;
    height: 100px;
    text-align: left;
    background-color:  #508d7c
}
.etiqueta-profesional   {
    text-align:left;
    /*padding: 5px;*/
    /*    background-color:  #bee7dc;*/
    list-style:  none;
    font-weight:bold;
    text-transform: capitalize;
    letter-spacing:1pt;word-spacing:5pt;
    font-size:10px;
    font-family:palatino linotype, palatino, serif;
    line-height:2;

}
.etiqueta-profesional  p .nombre{
    display:block;
    font-weight:bold;
    text-transform: capitalize;
    letter-spacing:1pt;word-spacing:5pt;
    font-size:12px;
    text-align:left;

    line-height:2;
}
.etiqueta-profesional  p .direccion{
    display:block;
    font-weight:bold;
    text-transform: capitalize;
    letter-spacing:1pt;word-spacing:5pt;
    font-size:10px;
    text-align:left;

    line-height:2;
}
.carousel-inner img {
    width: 100%;
    height: 300px;

}
.carousel-fullscreen .carousel-inner .item {
    height: 100vh; 
    min-height: 600px; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover;
}